@import "../../../../styles/modalStyles.module.scss";

.addFileModal {
  @extend .defaultModal;

  top: 45%;
}


.container {  
  display: flex;
  flex-direction: column;
  flex-basis: 1;

  height: 630px;

  align-items: center;

  margin: 2rem;

  hr {
    width: 100%;
  }
}

.uploadForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 95%;

  margin: auto;
  margin-top: 1rem;

  p {
    text-shadow: none;
  }

  label {
    height: 26px;
    width: 95%;

    margin-top: 1rem;

    text-align: left;
    font-size: 1.2rem;
    text-decoration: underline 2px;

    svg {
      margin-left: 0.25rem;
    }
  }
}

