.accessFormStyled {   
    width: 25rem;
    padding: 2rem;
    box-shadow: 0px 0px 10px black;
    hr {
        margin: 10px 0;
        border: none;
        border-bottom: 1px solid #cdcdcd;
        width: 100%;
    }

    a {
        font-size: 16pt;
        font-weight: bold;
        color: #6868B7;
        text-decoration: none;
    }
}

.textFormTitle {
    color: #6868B7;
    text-shadow: 2px 2px #100;
}

.descriptionStyled {
    color: #ddd;
}

.inputStyled {
    height: 46px;
    width: 95%;

    border-radius: 0px;
    &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.textInputStyled {
    @extend .inputStyled;

    color: black;

    &::placeholder {
        color: #555;
    }
}

.fileInputStyled {
    @extend .inputStyled;

    padding: 10px;
}

.selectInputStyled {
    @extend .inputStyled;

    option {
        color: black;
    }

}

.submitButtonStyled {
    height: 46px;
    width: 95%;    
    
    background: #6868B7;        

    p {
        margin: auto;
    }
}


.uploadButtonStyled {
    @extend .submitButtonStyled;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    color: black;
    background: #6868B7 ;
    margin-top: 10px;

    p {
        margin: auto;
        margin-right: 2px;
    }
    svg {
        margin: auto;
        margin-left: 2px;
    }    

    &:not([disabled]):hover {
        background: #3f3f8a !important;
    }
}