@import '../styles/formStyles.module';

.dashBoard {
    display: flex;
    flex-direction: column;        
    height: 100vh;  
    margin: 1rem;
    
  
  
    h1 {
      font-size: 2.5rem;
      font-weight: 650;
      color:white;
      text-shadow: 2px 2px 5px black;
  
      text-align: center;
      width: 100%;
    }


    p.descriptionStyled {
        @extend .descriptionStyled;
        color: whitesmoke;
    }

    p.error {
      text-align: center;
    }

    .cardsList {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      list-style: none;
      
      height: 100%;
    }
  }