@import '../styles/formStyles.module';

.dashBoard {
  display: flex;
  flex-direction: column;        
  height: 100vh;  
  margin: 1rem;

  .descriptionStyled {
      @extend .descriptionStyled;
      color: whitesmoke;
  }

  p.error {
    text-align: center;
  }

  .cardsList {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    
    height: 100%;
  }
}

  
.dashBoardTitle {
  font-weight: 650;
  text-shadow: 2px 2px 5px black;
}