
.expCard {
    background-color: #eee;
    max-width: 1024px;
}

.expTitle {
    grid-area:titulo;
    text-align:center;
    font-size : 24px;
}

.expText {
    text-align: center;
    font-size : 17px;
    padding-left:20%;
    padding-right:20%;

    @media (max-width: 760px) {
        padding: 0 10%;
    }
}


