.nlpCard {
    position: relative;    

    width: 30%;
    height: 33vh;
    margin: 1rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid #333;
    border-radius: 1px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    &:hover {
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    }

    transition: all 200ms ease-in-out;

    button {
        position: relative;
        background: transparent;
        display: flex;
        flex-direction: column;
        border: none;    
        
    }

    img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        opacity: 0.9;
        border-radius: 1px;
    }

    h1.title {
        width: 90%;
        z-index: 1;

        margin: 1rem;
        color: whitesmoke;
        font-size: 2rem;
        word-break: break-word;
    }

    p.description {
        width: 50%;
        z-index: 1;

        margin: auto;

        color: whitesmoke;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        word-break: break-word;

        text-shadow: 2px 2px 5px black;
    }

}