.addButton {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: rgb(104, 59, 189); 
  border-radius: 50px;
  transition: 0.3s ease;
  border: none;
  
  
  svg {
    margin: auto;   
    border-radius: 1px;
    color: rgb(var(--bs-dark-rgb));
  }  

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
}
