.container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    align-items: center;
    margin: 2rem;

    hr {
        width: 100%;    
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 95%;
        height: 60px;

        margin-top: 1rem;

        .actionButton {
            height: 46px;
            width: 10rem;

            margin: 0 1rem;

            border: 1px solid black;
            border-radius: 0.875rem;
            background: rgb(219, 219, 219);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

            font-size: 1.1rem;
            font-weight: 500;

            p {
                margin: auto;
                margin-right: 5px;
                text-align: center;
                
            }

            svg {
                margin: auto;
                margin-left: 5px;                
            }

            &:not([disabled]):hover {
              box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
              padding: 0 2px 2px 0;
            }
        }

        .createNewButton {
  
          &:not([disabled]):hover {   
            border: 1px solid #25c913;
            box-shadow: 2px 2px 4px #21af11;
          }
        }

        .deleteButton {
  
          &:not([disabled]):hover {
            border: 1px solid #cc1111 !important;
            box-shadow: 2px 2px 4px #b60f0f;
          }
  
        }
    }

    .nlpResult {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      padding: 1rem;

      p.createdDate {
        float: right;
        text-align: right;
        text-decoration: underline;
        margin: 1rem;
      }
    }

    .nlpImgResult {
      @extend .nlpResult;

      img {
        height: 420px;
        border-radius: 10px;

        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
      }   
    }
    
    .tableListResult {
      display: flex;
      flex-direction: column;

      width: 40rem;
      height: 420px;

      margin: auto;
      padding: 0 1rem;

      table {
        flex: 1;

        background: #eee;
        border-radius: 5px;

        thead {
          font-size: 1.2rem;
          font-weight: bold;

          th {            
            background: rgba(255, 0, 0, 0.5);
            border-radius: 0;

            &:first-of-type {
              border-top-left-radius: 5px;
            }

            &:last-of-type {
              border-top-right-radius: 5px;
            }

            div {
              display: inline-flex;

              width: 100%;
              height: 100%;
              justify-content: center;

              p {
                text-align: center;
                margin: auto;
                margin-right: 1rem;
              }

              svg {
                margin: 1rem;
                margin-right: auto;
                cursor: pointer;
              }
            }
          }          
        }

        tbody {
          tr {
            font-size: 1.1rem;
            text-align: center;
            

            td {
              flex: 1;
            }

            &:last-of-type {
              td:first-of-type {
                border-bottom-left-radius: 5px;
              }

              td:last-of-type {
                border-bottom-right-radius: 5px;
              }
            }
          }

          .content {
            background-color: rgba(0, 0, 0, 0.3);            
            
            & p::first-letter {
              text-transform: uppercase;
            }
            font-size: 1.1rem;
          }

          .count {
            background: rgba(0, 0, 0, 0.1);
          }          

          .relevance {
            background: rgba(0, 0, 0, 0.3);

            p {
              max-width: 4rem;
              overflow: hidden;
              margin: auto;
            }
          }
        }
      }

      .pagination {
        height: 36px;

        .paginationItem {
          flex: 1;
          align-items: center;
          justify-content: center;
        }
      }
    }

    p.error {
        margin: 0;
    }
}