.backgroundStyled {
    background-image: url('../../assets/images/home/Fundo_cidade.jpg');      
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}


h1 {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}