.backgroundStyled {
    background-image: url('../../assets/images/home/Fundo_cidade.jpg');      
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}
