.backgroundStyled {
    background: rgba(0, 0, 0, 0.5) url('../../assets/images/home/bck.jpg') no-repeat right top fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}


h1 {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}